@import "tailwindcss";

@theme {
    --animate-fade-out: fade-out 2s ease-in-out forwards;

    @keyframes fade-out {
        0% { opacity: 1; }
        75% { opacity: 1; }
        100% { opacity: 0; }
    }
}
